{% extends 'blog/base.html' %}
{% block content %}
<div class="card mb-4">
    <div class="card-header article-metadata">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{object.author}}</a> <small class="text-muted">{{object.date_posted|date:"jS F, Y"}}</small>
        {% if user == object.author %}
            <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm ">Update</a>
            <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm ">Delete</a>
        {% endif %}
    </div>
    <div class="card-body">
        <h2 class="card-title">{{object.title}}</h2>
        <p class="card-text">{{object.content}}</p>
    </div>
</div>
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
    <div class="content-section scrollable">
        <h3>Other Posts</h3>
  
        <p class='text-muted'>More posts from {{object.author.username}}.
        <ul class="list-group">
            {% for post in posts %}
                <li class="list-group-item list-group-item-light">
                    <a class="mr-2" style="text-decoration: none" href="{% url 'post-detail' post.id %}">
                        {{ post.title }}
                    </a>    
                    <small>{{ post.date_posted|date:"jS M, Y" }}</small>
                </li>
                
            {% endfor %}
        </ul>
        </p>
    </div>
</div>
{% endblock sidebar %}