{% extends 'blog/base.html' %}
{% block content %}
<h1 class="mb-3">Posts by {{ view.kwargs.username }} ({{page_obj.paginator.count}})</h1>
{% for post in posts %}
<div class="card mb-4">
    <div class="card-header article-metadata">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{post.author}}</a> <small class="text-muted">{{post.date_posted|date:"jS F, Y"}}</small>
    </div>
    <div class="card-body">
        <h2 class="card-title"><a href="{% url 'post-detail' post.id %}" class="article-title">{{post.title}}</a></h2>
        <p class="card-text">{{post.content}}</p>
    </div>
</div>
{% endfor %}
{% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
{% endblock content %}
{% block sidebar%}
<div class="col-md-4">
  <div class="content-section">
      <h3>Users</h3>

      <p class='text-muted'>You can put any information here you'd like.
      <ul class="list-group">
          {% for user in users %}
              <li class="list-group-item list-group-item-light">
                  <a class="mr-2" style="text-decoration: none" href="{% url 'user-posts' user.username %}">
                      <img class="rounded-circle sidebar-user-img" src="{{ user.profile.image.url }}" alt="">
                      {{ user }}</a>
                  
              </li>
              
          {% endfor %}
      </ul>
      </p>
  </div>
</div>
{% endblock %}