{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-outline-info">Login</button>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Don't have an account? </small><a class="ml-2" href="{% url 'register' %}">Sign Up</a>
    </div>
</div>
{% endblock content %}