{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{user.profile.image.url}}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </div>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-2">Profile Info</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <button type="submit" class="btn btn-outline-info mt-2">Save</button>
  </form>
  </div>
{% endblock content %}
{% block sidebar %}
<div class="col-md-4">
  <div class="content-section scrollable">
      <h3>Older Posts</h3>

      <p class='text-muted'>older posts from you.
      <ul class="list-group">
          {% for post in posts %}
              <li class="list-group-item list-group-item-light">
                  <a class="mr-2" style="text-decoration: none" href="{% url 'post-detail' post.id %}">
                      {{ post.title }}
                  </a>    
                  <small>{{ post.date_posted|date:"jS M, Y" }}</small>
              </li>
              
          {% endfor %}
      </ul>
      </p>
  </div>
</div>
{% endblock %}